#content {
    max-width: 700px;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

#content img {
    width: 100%;
}

#detail {
    max-width: 700px;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

#detail img {
    width: 100%;
}

.f {
    background: red;
}

code.hljs {
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;  
    /* background-color: rgba(27,31,35,0.05); */    
}

code.hljs::before,
code.hljs::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

pre>code.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    font-size: 100%;
}

pre>code.hljs::before,
pre>code.hljs::after {
    content: none;
}