<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-blog</title>

    <link href="vendor/highlight.js/styles/atom-one-dark.css" rel="stylesheet" />
    <!-- <link href="css/styles/github.css" rel="stylesheet" /> -->
    <link href="css/main.css" rel="stylesheet" />

    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <script src="vendor/vue/vue.min.js"></script>
    <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="vendor/vue-router/vue-router.min.js"></script>
    <script src="vendor/axios/axios.min.js"></script>

    <script type="text/javascript" src="vendor/marked/marked.min.js"></script>
    <script type="text/javascript" src="vendor/highlight.js/highlight.pack.js"></script>
    <script type="text/javascript" src="config.js"></script>


</head>

<body>

    <div id="app">
        <div class="header" ref="indexHeader">
            <a class="title" href="#/" v-if="isSmTitle">{{ headerTitle || '' }}</a>
        </div>
        <div class="header-bg">
            <a class="title" href="#/" :style="{ visibility: detailPage ? 'hidden' : 'visible' }" ref="indexTitle" v-if="!isSmTitle">{{ headerTitle || '' }}</a>
        </div>
        <transition name="slide-fade-left">
            <div class="index" v-show="listPage">
                <div class="main">
                    <div class="listPage container">
                        <ul>
                            <li v-for="item in baseData">
                                <a class="blog-list-item" :href="'#/detail/' + item.number">{{ item.title }}</a>
                            </li>
                        </ul>
                        <div class="page-num">
                            <ul>
                                <li :class="{'f': prev === false}">
                                    <a :href="'#/page/' + (parseInt(p)-1)">上一页</a>
                                </li>
                                <li>
                                    <a>...</a>
                                </li>
                                <li v-for="n in ps">
                                    <a :href="'#/page/' + n">{{ n }}</a>
                                </li>
                                <li>
                                    <a>...</a>
                                </li>
                                <li :class="{'f': next === false}">
                                    <a :href="'#/page/' + (parseInt(p)+1)">下一页</a>
                                </li>
                            </ul>
                        </div>

                        <!-- 页码逻辑，左边两个，右边两个，两个之后，如果还有超过两个，就显示...，可以在js中使用数组的方式来做，在数组前面添加或后面添加 -->
                        <nav class="page-nav">
                            <div class="inner">
                                <span class="page-number current waves-effect waves-button">1</span>
                                <a class="page-number waves-effect waves-button" href="#/">2</a>
                                <a class="page-number waves-effect waves-button" href="#/">3</a>
                                <span class="space waves-effect waves-button">…</span>
                                <a class="page-number waves-effect waves-button" href="#/">7</a>
                                <a class="extend next waves-effect waves-button" rel="next" href="#/">下一页</a>
                            </div>
                        </nav>
                    </div>


                </div>

                <footer class="footer">
                    <div class="top">
                        <p>
                            <span>
                                站点总访客数：
                                <span>32</span>
                            </span>
                            <span>
                                站点总访问量：
                                <span>132</span>
                            </span>
                        </p>
                        <p>
                            博客内容遵循
                            <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">知识共享 署名 - 非商业性 - 相同方式共享 4.0 国际协议</a>
                        </p>
                    </div>
                    <div class="bottom">
                        <p>
                            <span>
                                Auven Zhang&nbsp;&copy;&nbsp;2017
                            </span>
                        </p>
                    </div>
                </footer>
            </div>

        </transition>


        <transition name="slide-fade-right">
            <div class="article" v-show="detailPage">
                <div class="main">
                    <div class="container">
                        <div class="detail">
                            <div class="title-wrap">
                                <div class="title">{{ article ? article.title : '' }}</div>
                                <div class="post-meta">
                                    <a class="post-author" :href="article ? article.user.html_url : ''">
                                        <img :src="article ? article.user.avatar_url : ''">
                                        <span>{{ article ? article.user.login : '' }}</span>
                                    </a>
                                    <span class="post-time">{{ article ? article.created_at.split(/T|Z/)[0] + ' ' + article.created_at.split(/T|Z/)[1] : '' }}</span>
                                    <span class="post-visit">60</span>
                                </div>
                            </div>
                            <div class="content" v-html="detailData" ref="detail"></div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="top">
                        <p>
                            <span>
                                站点总访客数：
                                <span>32</span>
                            </span>
                            <span>
                                站点总访问量：
                                <span>132</span>
                            </span>
                        </p>
                        <p>
                            博客内容遵循
                            <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">知识共享 署名 - 非商业性 - 相同方式共享 4.0 国际协议</a>
                        </p>
                    </div>
                    <div class="bottom">
                        <p>
                            <span>
                                Auven Zhang&nbsp;&copy;&nbsp;2017
                            </span>
                        </p>
                    </div>
                </footer>
            </div>
        </transition>



        <transition name="fade">
            <div class="loading" v-show="loading">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </transition>
    </div>

    <script src="js/index.js"></script>
</body>

</html>